#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.app-container {
  font-family: sans-serif;
  padding: 2rem;
}

h1 {
  color: #4caf50;
}

ul {
  margin-top: 1rem;
  list-style-type: square;
}
